<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Job-Hub Developer's site</title>
	<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<!--Adobe Edge Runtime-->
<meta http-equiv="X-UA-Compatible" content="chrome=IE8">
    <script type="text/javascript" charset="utf-8" src="index_edgePreload.js"></script>
    <style>
        .edgeLoad-EDGE-92557992 { visibility:hidden; }
    </style>
<!--Adobe Edge Runtime End-->

</head>
<body style="width 100%; margin:0 auto;padding:0;">
	<div id="Stage" class="EDGE-92557992" style="width 600px; margin:0 auto;">
	
        <div id="Stage_bgImg_1" class="edgeLoad-EDGE-92557992"></div>
        <div id="Stage_Text" style="display:none;">crowd sourcing</div>
        <div id="Stage_Text2" style="display:none;">Job-Hub</div>
        <div id="Stage_floor_mat" style="display:none;"></div>
        <div id="Stage_edge_iconCopy3" style="display:none;"></div>
        <div id="Stage_edge_icon" style="display:none;"></div>
        <div id="Stage_edge_iconCopy" style="display:none;"></div>
        <div id="Stage_edge_iconCopy2" style="display:none;"></div>
        <div id="Stage_edge_iconCopy4" style="display:none;"></div>
        <div id="Stage_edge_iconCopy5" style="display:none;"></div>
        <div id="Stage_Text3" style="display:none;"> Job-Hub<br>Developer's site</div>
        <div id="Stage_MyButton" style="display:none;">
            <div id="Stage_MyButton_myButton"></div>
            <div id="Stage_MyButton_Text4">Comming soon</div>
        </div>
    </div>
</body>
</html>