<!DOCTYPE html>
<html lang="ja">
<head>
    <title>suzu-node EnchantJS</title>
</head>
<body>
    <p>enchant.jpテストアプリは<a href="/game">コチラ</a></p>
<h1>EnxhantJS DEMO | suzu-node</h1>
<h2>ランキング</h2>
<ul>
<% var i = 1; %>
<% items.forEach(function(item){ %>
  <li>【<%= i %>】<%= item.created %>: <%= item.score %>点</li>
<% i += 1; %>
<% }) %>
</ul>
</body>
</html>
