<!DOCTYPE html>
<html>
<head>
    <title>suzu-node EnchantJS</title>
</head>
<body>
    <p>enchant.jpテストアプリは<a href="/game">コチラ</a></p>
<h1>EnxhantJS | suzu-node</h1>
<p><a href="/form">Shout!</a></p>
<ul>
<% items.forEach(function(item){ %>
  <li><%= item.created %>: <%= item.score %></li>
<% }) %>
</ul>
</body>
</html>
