<!DOCTYPE html>
<html lang="ja">
<head>
    <title>suzu-node EnchantJS</title>
</head>
<body>
    <p><a href="/">TOPへ戻る</a></p>
<h1>EnchantJS DEMO | suzu-node</h1>
<h2>ランキング</h2>
<p>スマホが圧倒的に有利かも</p>
<ul>
<% var i = 1; %>
<% items.forEach(function(item){ %>
  <li>【<%= i %>】<%= item.created.toLocaleString() %>: <%= item.score %>点</li>
<% i += 1; %>
<% }) %>
</ul>
</body>
</html>
