<!DOCTYPE html>
<html>
<head>
<title>suzu-node Socket.IO DEMO</title>
<style>
video {
    border:5px solid black;
    width:480px;
    height:360px;
}
canvas {
    border:5px solid black;
    width:480px;
    height:360px;
}
button {
    font: 18px sans-serif;
    padding: 8px;
}  
.grayscale {
  -webkit-filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
}
.invert {
  -webkit-filter: invert(1);
}
.blur {
  -webkit-filter: blur(3px);
}
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script type="text/javascript">
    // add chat log
    function addlog(data) {
        var date = new Date(data.time);
        console.log(date);
        $('#log').prepend($('<li/>').text(
            data.name + ' : ' + data.message + ' ( ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds() + ' ) ')
        );
    }
    //var socket = io.connect('http://localhost:3000/chat');
    var socket = io.connect('https://suzu-node.herokuapp.com/chat');
    socket.on('chat.list', function(list) {
        for (var i = 0; i < list.length; i++){
            addlog(list[i]);
        }
    });
    socket.on('chat.add', function(data) {
       addlog(data); 
    });
    
    function send() {
        socket.emit('chat.add', {
            name: sanitize($('#name').val()),
            message: sanitize($('#message').val())
        });
        alert('送信しました');
        return false;
    }
    function sanitize(str) {
        str = str.replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
            .replace(/"/g, '&quot;')
            .replace(/'/g, '&#39;');
        return str;
    }
</script>
</head>
<body>
    <p><a href="/">TOPへ</a></p>
<h1>Socket.IO demo | suzu-node</h1>
<div>
    <h2>チャットデモ</h2>
    <p>ブラウザを更新しなくても全てのクライアントに自動反映されます。<br/>
    PC、スマホともに対応しています。（最初の初期化（チャット履歴を取得）に少々時間が掛かります）</p>
    <form onsubmit="return send();">
        <span>Name:</span>
        <input type="text" id="name" name="name"/>
        <span>Message:</span>
        <input type="text" id="message" name="message"/>
        <input type="submit" value="Send"/><br/>
    </form>
</div>
<div>
    <h3>Log</h3>
    <ul id="log">
        
    </ul>
</div>
</body>
</html>